.top {
    color: black;
    background: white !important;
}

header {
    text-align: center;
    background: white !important;
}

.top .row {
    background-color: white;
}


form label {
    opacity: 1 !important;
    padding-bottom: 23px;
}
