{% extends "index2.html" %}
{% block body %}
<div class="row">
    <div class="col-lg-12 text-center">
        <h2>Decrypt your Asset</h2>
        <hr class="star-primary">
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
        <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
        <h5 style="text-align:center; margin-bottom: 50px">1 out of 3 have been authorized, 2 out of 3 required</h5>
        <form name="sentMessage" id="contactForm" novalidate action="/decrypt/execute" method="post" enctype="multipart/form-data">
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Encrypted secret #1</label>
                    <input value="4-6SU75Rdd4dLJfNcELZmGQA1UzRBpmK2rrQ6dxWSXb3SR3RS9YVP8Db6" type="text" class="form-control" placeholder="Public Key #1" name="data1" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <div class="row control-group">
                <div class="form-group col-xs-12 floating-label-form-group controls">
                    <label>Encrypted secret #2</label>
                    <input value="3-D79nEcUm9KRzQemtxeYsd8sd6Uof3RA5geLzFxz2aQsmy4JDrTSdLJh" type="text" class="form-control" placeholder="Public Key #2" name="data2" required data-validation-required-message="Please enter your name.">
                    <p class="help-block text-danger"></p>
                </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="row">
                <div class="form-group col-xs-12">
                    <button type="submit" class="btn btn-success btn-lg">Decrypt</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}

{% block about %}
{% endblock about %}

{% block header %}
{% endblock header %}
