{% extends "index2.html" %}
{% block body %}
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Store keys</h2>
                    <hr class="star-primary">
                </div>
            </div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
<div class="panel panel-default">
   <div class="panel-heading">Contract uploaded!</div>
   <div class="panel-body">
      <p>Below are the encrypted keys that should be distributed to each party</p>
   </div>
   <table class="table">
      <thead>
         <tr>
            <th>#</th>
            <th>Secret key</th>
            <th>Download</th>
         </tr>
      </thead>
      <tbody>
         <tr>
            <th scope="row">1</th>
            <td>{{ enc1 |truncate(29, True)  }}         [omitted for security]</td>
            <td><a href="#">Download</a></td>
         </tr>
         <tr>
            <th scope="row">1</th>
            <td>{{ enc2 |truncate(29, True)}}           [omitted for security]</td>
            <td><a href="#">Download</a></td>
         </tr>
         <tr>
            <th scope="row">1</th>
            <td>{{ enc3|truncate(29, True) }}           [omitted for security]</td>
            <td><a href="#">Download</a></td>
         </tr>
      </tbody>
   </table>
</div>
    </div>
</div>
{% endblock body %}
